<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Settings</h3>
    </div>
    <form class="col s12" name="form" ng-submit="updateUser(form)" novalidate>

      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" name="name" type="text" mongoose-error ng-model="user.name" class="validate">
          <label for="first_name" class="active">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" name="kindleEmail" type="email" ng-model="user.kindleEmail" class="validate">
          <label for="last_name" data-error="This is not a valid kindle email address." class="active">Kindle Email</label>
        </div>
      </div>


      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
    </form>
  </div>
</div>
