
$fa-font-path: "/bower_components/font-awesome/fonts" !default;
$roboto-font-path: "/bower_components/materialize/font/roboto/" !default;
$icons-font-path: "/bower_components/materialize/font/material-design-icons/" !default;

@import 'font-awesome/scss/font-awesome';
@import 'materialize/sass/materialize';

.input-field label{
  width: 90%;
}

//
//// Component styles are injected through grunt
//// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
// endinjector
